## 通用配置文件

# 基础界面
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-compat=y

# SSL
CONFIG_LIBCURL_OPENSSL=y
CONFIG_PACKAGE_apk-openssl=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_wpad-basic-openssl=n

CONFIG_LIBCURL_MBEDTLS=n
CONFIG_PACKAGE_apk-mbedtls=n
CONFIG_PACKAGE_px5g-mbedtls=n
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_libustream-mbedtls=n
# 优化OpenSSL
CONFIG_OPENSSL_OPTIMIZE_SPEED=y

# 软件包
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-watchcat=y

CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wechatpush=y

# VPN
CONFIG_PACKAGE_luci-proto-wireguard=y

# 语言
CONFIG_LUCI_LANG_zh_Hans=y

# 主题
CONFIG_PACKAGE_luci-theme-bootstrap=y

# 自定义 组件
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_pppoe-discovery=y
CONFIG_PACKAGE_zoneinfo-asia=y

# 内核
CONFIG_KERNEL_PREEMPT_NONE=y
CONFIG_KERNEL_PREEMPT_NONE_BUILD=y

#####################################################################
# NSS 卸载配置
#####################################################################

# NSS fiemware
CONFIG_PACKAGE_nss-firmware=y
CONFIG_NSS_MEM_PROFILE_HIGH=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y

## NSS PPPoE
CONFIG_NSS_DRV_PPPOE_ENABLE=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y

## NSS ECM
CONFIG_PACKAGE_kmod-qca-nss-ecm=y

## NSS 桥接管理器
CONFIG_NSS_DRV_BRIDGE_ENABLE=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y

## NSS VLAN 管理器
CONFIG_NSS_DRV_VLAN_ENABLE=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y

CONFIG_FEED_nss_packages=n
CONFIG_FEED_sqm_scripts_nss=n

#####################################################################
#####################################################################