CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_redmi_ax5=y

# 无线开关
CONFIG_PACKAGE_iw is not set
CONFIG_PACKAGE_iwinfo is not set
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n

# usb开关
CONFIG_PACKAGE_kmod-usb-dwc3=n
CONFIG_PACKAGE_kmod-usb3=n
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=n

# 基础界面
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-nginx=n

# SSL
CONFIG_LIBCURL_OPENSSL=y
CONFIG_PACKAGE_apk-openssl=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_wpad-basic-openssl=n

CONFIG_LIBCURL_MBEDTLS=n
CONFIG_PACKAGE_apk-mbedtls=n
CONFIG_PACKAGE_px5g-mbedtls=n
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_libustream-mbedtls=n

#####################################################################
# NSS Offloading (NSS卸载支持)
#####################################################################

# CCONFIG_PACKAGE_kmod-gre is not set

# qca-nss-clients
##  Support for 6rd tunnel (支持6rd隧道)
# CONFIG_NSS_DRV_TUN6RD_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd is not set

## Support for DTLS sessions (支持DTLS会话)
# CONFIG_NSS_DRV_DTLS_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-dtlsmgr is not set

## Support for TLS sessions (支持TLS会话)
# CONFIG_NSS_DRV_TLS_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tlsmgr is not set

## Support for l2tp tunnel (支持L2TP隧道)
# CONFIG_NSS_DRV_L2TP_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2 is not set

## Support for PPTP tunnel (支持PPTP隧道)
# CONFIG_NSS_DRV_PPTP_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pptp is not set

## Support for PPPoE (支持PPPoE)
CONFIG_NSS_DRV_PPPOE_ENABLE=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y

## Support for MAP-T (支持MAP-T)
# CONFIG_NSS_DRV_MAPT_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-map-t is not set

## Support for GRE (支持GRE隧道)
# CONFIG_NSS_DRV_GRE_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-gre is not set

## support for DS-lite and ipip6 tunnel (支持DS-Lite和IP-in-IP6隧道)
# CONFIG_NSS_DRV_TUNIPIP6_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6 is not set

## NSS driver profiler for QCA chipset (QCA芯片组的NSS驱动分析器)
# CONFIG_PACKAGE_kmod-qca-nss-drv-profile is not set
## IPsec offload manager (IPsec卸载管理器)
# CONFIG_NSS_DRV_IPSEC_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr is not set
# IPsec klips offload (IPsec KLIPS卸载)
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr-klips is not set
# IPsec xfrm offload (IPsec XFRM卸载)
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr-xfrm is not set

## NSS CAPWAP manager (NSS CAPWAP管理器)
# CONFIG_NSS_DRV_CAPWAP_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-capwapmgr is not set

## NSS bridge manager (NSS桥接管理器)
CONFIG_NSS_DRV_BRIDGE_ENABLE=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y

## NSS vlan manager (NSS VLAN管理器)
CONFIG_NSS_DRV_VLAN_ENABLE=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y

## Linux qdisc that aids in configuring shapers in the NSS (用于配置NSS中流量整形的Linux队列规则)
# CONFIG_NSS_DRV_SHAPER_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc is not set

## Linux action that helps in offloading traffic to an IFB interface to perform ingress shaping. (通过IFB接口卸载流量以实现入口流量整形的Linux动作)
# CONFIG_NSS_DRV_IGS_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-igs is not set

## NSS LAG manager (NSS链路聚合管理器)
# CONFIG_NSS_DRV_LAG_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr is not set

## NSS netlink manager (NSS Netlink管理器)
# CONFIG_NSS_DRV_C2C_ENABLE is not set
# CONFIG_NSS_DRV_GRE_REDIR_ENABLE is not set
# CONFIG_NSS_DRV_IPV4_REASM_ENABLE is not set
# CONFIG_NSS_DRV_IPV6_ENABLE is not set
# CONFIG_NSS_DRV_IPV6_REASM_ENABLE is not set
# CONFIG_NSS_DRV_LSO_RX_ENABLE is not set
# CONFIG_NSS_DRV_OAM_ENABLE is not set
# CONFIG_NSS_DRV_QRFS_ENABLE is not set
# CONFIG_NSS_DRV_RMNET_ENABLE is not set
# CONFIG_NSS_DRV_TSTAMP_ENABLE is not set
# CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_LEGACY_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-netlink is not set

## NSS OpenVPN manager (NSS OpenVPN管理器)
# CONFIG_NSS_DRV_QVPN_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-ovpn-mgr is not set

## NSS OpenVPN manager for supporting OpenVPN offload. (NSS OpenVPN管理器通信以支持OpenVPN卸载)
# CONFIG_PACKAGE_kmod-qca-nss-drv-ovpn-link is not set

## managing Paravirtualized Extensible LAN (PVxLAN) connections (管理Paravirtualized Extensible LAN (PVxLAN)连接)
# CONFIG_NSS_DRV_PVXLAN_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pvxlanmgr is not set

## managing NSS EoGRE (管理NSS EoGRE隧道)
# CONFIG_PACKAGE_kmod-qca-nss-drv-eogremgr is not set

## managing NSS clmap (管理NSS分类映射)
# CONFIG_NSS_DRV_CLMAP_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-clmapmgr is not set

## NSS VxLAN (NSS VxLAN支持)
# CONFIG_NSS_DRV_VXLAN_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr is not set

## NSS Match (NSS匹配模块)
# CONFIG_NSS_DRV_MATCH_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-match is not set

## NSS Mirror (NSS镜像模块)
# CONFIG_NSS_DRV_MIRROR_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-mirror is not set

## Mirrored Stream Classification Signalling(MSCS) NSS client (NSS镜像流分类信令客户端)
# CONFIG_PACKAGE_kmod-qca-nss-drv-mscs is not set

## WiFi Mesh manager (WiFi Mesh管理器)
# CONFIG_NSS_DRV_WIFI_MESH_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr is not set

## WiFi Offloading (WiFi卸载支持)
# CONFIG_ATH11K_NSS_SUPPORT is not set
# CONFIG_ATH11K_NSS_MESH_SUPPORT is not set
# CONFIG_PACKAGE_MAC80211_NSS_SUPPORT is not set

## NSS SQM Traffic Shaping (NSS智能队列管理(SQM)流量整形)
# CONFIG_PACKAGE_sqm-scripts-nss is not set

# qca-mcs
## qca-mcs (QCA多播监听支持)
# CONFIG_PACKAGE_kmod-qca-mcs is not set

#  qca-nss-eip-firmware
## nss-eip-firmware (NSS加密加速固件)
CONFIG_PACKAGE_nss-eip-firmware=y

#  qca-nss-firmware
## nss firmware (NSS固件)
CONFIG_PACKAGE_nss-firmware-ipq6018=y

# qca-nss-ifb
## nss-ifb (网络接口缓冲区(nss-ifb)内核模块)
# CONFIG_PACKAGE_kmod-nss-ifb is not set

# qca-nss-userspace-oss
# nss-userspace-oss (用户空间的NSS开放源码软件包)
CONFIG_PACKAGE_libnl-nss=y
CONFIG_PACKAGE_nssinfo=y

# qca-nss-cfi
## qca-nss-cfi (QCA Cryptographic Function Interface模块)
# CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi is not set

# qca-nss-crypto
## qca-nss-crypto (QCA加密模块)
# CONFIG_NSS_DRV_CRYPTO_ENABLE is not set
# CONFIG_PACKAGE_kmod-qca-nss-crypto is not set

# qca-nss-ecm
## qca-nss-ecm (QCA NSS增强型连接管理器(ECM))
CONFIG_PACKAGE_kmod-qca-nss-ecm=y

# qca-nss-macsec
## qca-nss-macsec (NSS MACsec内核驱动)
# CONFIG_PACKAGE_kmod-qca-nss-macsec is not set

# qca-ssdk-shell
## qca-ssdk-shell (QCA SSDK命令行工具)
# CONFIG_PACKAGE_qca-ssdk-shell is not set

# 软件包
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_collectd-mod-cpufreq=y
CONFIG_PACKAGE_collectd-mod-dns=y
CONFIG_PACKAGE_collectd-mod-thermal=y
CONFIG_PACKAGE_collectd-mod-cpufreq=y
CONFIG_PACKAGE_collectd-mod-dns=y
CONFIG_PACKAGE_collectd-mod-thermal=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-wol=y

CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wechatpush=y

# VPN
CONFIG_PACKAGE_luci-proto-wireguard=y

# 语言
CONFIG_LUCI_LANG_zh_Hans=y

# 主题
CONFIG_PACKAGE_luci-theme-bootstrap=y

# 自定义 组件
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_pppoe-discovery=y
CONFIG_PACKAGE_zoneinfo-asia=y